.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-header {
  flex: 0 0 15vh;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
  border-bottom: white solid 1px;
}
.App-body {
  padding: 1rem;
  flex: 1;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow-y: auto;
}
.App-footer {
  flex: 0 0 15vh;
  background-color: #282c34;
  padding: 1rem;
}

.App-link {
  color: #61dafb;
}

.App-status {
  display: flex;
  margin-bottom: auto;
  margin-left: auto;
  padding: 3vh;
}

.App-title {
  font-size: 5vh;
}
.App-description {
  font-size: 1.5vh;
  margin-bottom: 2vh;
}

.App-form-list {
  display: flex;
  flex-direction: column;
  margin: 5vh;
}

.App-form-data {
  text-align: left;
  margin: 3vh;
}

.App-form-sociable {
  text-align: left;
  margin: 3vh;
}
.App-form {
  display: flex;
  align-items: center;
  margin-bottom: 1vh;
}

.App-form-description {
  margin-right: 3vh;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Gacha-Item {
  padding-top: 0.5rem;
}

.NightRain-Card {
  display: flex;
  align-items: center;
  border: white solid 1px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
  width: 70vw;
  padding: 1vh;
  margin: 3vh;
  background-color: rgb(36, 39, 59);
}
.NightRain-Card.ever {
  border: rgb(65, 87, 214) solid 1px;
  box-shadow: 0 0 10px rgba(216, 215, 233, 0.6);
}
.NightRain-Card img {
  width: 90px;
  height: auto;
  border-radius: 20px;
}

.NightRain-Card-Info {
  padding-left: 2vh;
  text-align: left;
}
